<template>
  <div class="hello">
    <textarea id="custom-plugin">
    </textarea>
  </div>
</template>

<script>
import tinymce from 'tinymce'

const BASE_URL = 'https://staging.rever.vn'
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  mounted() {
    let upload = this.upload
    tinymce.init({
      selector: '#custom-plugin',
       plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table paste imagetools wordcount'
  ],
  toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
      automatic_uploads: true,
      /* without images_upload_url set, Upload tab won't show up*/
      images_upload_url: 'postAcceptor.php',

      /* we override default upload handler to simulate successful upload*/
      images_upload_handler: function (blobInfo, success, failure, progress) {
        //console.log(failure)
        let onProgress = function (e) {
          progress(e.loaded / e.total * 100);
          tinymce.activeEditor.notificationManager.open({
            text: `Uploading ${e.loaded / e.total * 100}%`,
            type:'success'
          });
        };
        let formData = new FormData();
        formData.append('upload', blobInfo.blob(), blobInfo.filename());
        upload('https://staging.rever.vn/photo/v2/upload/custom?ss=qimQtZ4DLc&width=1400&height=357', formData, function (code, data) {
          if (code) {
            success(`${BASE_URL}${data}`)
          } else {
            console.log("error")
          }
          //console.log("onProgress", onProgress)
        }, onProgress)
      },
      content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });

  },
  methods: {
   upload(url, file, callback, processEvent) {
      var xhr = new XMLHttpRequest()
      xhr.withCredentials = false;
      xhr.open('POST', url, true)
      if (processEvent) {
        //xhr.upload.addEventListener('progress', processEvent, false)
        xhr.upload.onprogress = processEvent
      }
      // xhr.withCredentials = true;
      xhr.onload = function () {
        var data = null
        try {
          data = JSON.parse(xhr.responseText)
        } catch (ex) {
          data = xhr.responseText || {
            msg: 'Server error'
          }
        }
        if (xhr.status === 200) {
          if (typeof data === 'object') {
            callback(data.result, data)
          } else {
            callback(true, data)
          }
        } else {
          callback(false, data)
        }
      }
      xhr.addEventListener('error', function () {
        callback(false, {
          msg: 'Server error'
        })
      })
      xhr.send(file)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
// tinymce.init({
//   selector: '#custom-plugin',
//   plugins: 'image code',
//   toolbar: 'undo redo | link image | code',
//   /* enable title field in the Image dialog*/
//   image_title: true,
//   /* enable automatic uploads of images represented by blob or data URIs*/
//   automatic_uploads: true,
//   /*
//     URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
//     images_upload_url: 'postAcceptor.php',
//     here we add custom filepicker only to Image dialog
//   */
//   file_picker_types: 'image',
//   /* and here's our custom image picker*/
//   file_picker_callback:  (cb)=> {
//     var input = document.createElement('input');
//     input.setAttribute('type', 'file');
//     input.setAttribute('accept', 'image/*');
//
//     /*
//       Note: In modern browsers input[type="file"] is functional without
//       even adding it to the DOM, but that might not be the case in some older
//       or quirky browsers like IE, so you might want to add it to the DOM
//       just in case, and visually hide it. And do not forget do remove it
//       once you do not need it anymore.
//     */
//
//     input.onchange = function () {
//       var file = this.files[0];
//       console.log(file)
//       var reader = new FileReader();
//       reader.onload = function () {
//         /*
//           Note: Now we need to register the blob in TinyMCEs image blob
//           registry. In the next release this part hopefully won't be
//           necessary, as we are looking to handle it internally.
//         */
//         var id = 'blobid' + (new Date()).getTime();
//         var blobCache = tinymce.activeEditor.editorUpload.blobCache;
//         var base64 = reader.result.split(',')[1];
//         var blobInfo = blobCache.create(id, file, base64);
//         blobCache.add(blobInfo);
//
//         /* call the callback and populate the Title field with the file name */
//         cb(blobInfo.blobUri(), {title: file.name});
//         let formData = new FormData()
//         formData.append('upload', file, file.name)
//         upload('https://staging.rever.vn/photo/v2/upload/custom?ss=qimQtZ4DLc&width=1400&height=357', formData, function(code, data) {
//           if (code) {
//             // var ele = editor.document.createElement('img')
//             // ele.setAttribute('src', !/^http(s?):\/\//.test(data) ? ((prefix || '') + data) : data)
//             // ele.setAttribute('alt', file.name)
//             // editor.insertElement(ele)
//             // editor.insertElement(editor.document.createElement('br'))
//             console.log(code, `${BASE_URL}${data}`)
//           } else {
//             console.log("error")
//           }
//         })
//       };
//       reader.readAsDataURL(file);
//     };
//     input.click();
//   },
//   content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
// });