<template>
  <div>
      <textarea id="custom-plugin">
       
      </textarea>
    <Modal ref="modal" id="modal" :footer="true">
      <template v-slot:modalBody>
        <TinyMceComponent ref="sign"/>
      </template>
      <template v-slot:modalFooter>
        <button @click="setContentSign" class="btn btn-primary">Lưu</button>
      </template>
    </Modal>
  </div>
</template>

<script>
import tinymce from 'tinymce'
import TinyMceComponent from './TinyMceComponent.vue'
import Modal from './modal/Modal.vue'

const BASE_URL = 'https://staging.rever.vn'
export default {
  name: "TinyMceOne",
  props: {
    value: {
      type: String,
      default: () => ''
    }
  },
  components: {TinyMceComponent, Modal},
  data() {
    return {
      model: this.value,
    }
  },
  created() {
    this.init()
  },
  mounted() {
    this.init()
  },
  methods: {
    upload(url, file, callback, processEvent) {
      var xhr = new XMLHttpRequest()
      xhr.withCredentials = false;
      xhr.open('POST', url, true)
      if (processEvent) {
        //xhr.upload.addEventListener('progress', processEvent, false)
        xhr.upload.onprogress = processEvent
      }
      // xhr.withCredentials = true;
      xhr.onload = function () {
        var data = null
        try {
          data = JSON.parse(xhr.responseText)
        } catch (ex) {
          data = xhr.responseText || {
            msg: 'Server error'
          }
        }
        if (xhr.status === 200) {
          if (typeof data === 'object') {
            callback(data.result, data)
          } else {
            callback(true, data)
          }
        } else {
          callback(false, data)
        }
      }
      xhr.addEventListener('error', function () {
        callback(false, {
          msg: 'Server error'
        })
      })
      xhr.send(file)
    },
    getContent() {
      return tinymce.get("custom-plugin").getContent()
    },
    setContentSign() {
      let content = '<br/><br/><hr/>' + this.$refs['sign'].getContent()
      let el = tinymce.activeEditor.dom.create('div', {id: 'mydiv', class: 'mydiv'}, '')
      tinymce.get("custom-plugin").selection.setNode(el)
      $(tinymce.get("custom-plugin").getBody()).find('.mydiv').html(content)
      $(tinymce.get("custom-plugin").getBody()).find('.mydiv').click((evt) => {
        console.log(evt)
        this.$refs['modal'].showModal()
      })
      this.$refs['modal'].hideModal()
    },
    init() {
      let upload = this.upload
      let refModal = this.$refs['modal']
      tinymce.PluginManager.add('example', function (editor) {
        //let cmsURL = window.location.toString();
        /* Add a button that opens a window */
        editor.ui.registry.addButton('example', {
          icon: 'image',
          onAction: function () {
            /* Open window */
            let input = document.createElement('input')
            window.__ck_multiupload_inp = input
            document.body.appendChild(input)
            input.type = 'file'
            input.multiple = true
            input.accept = 'image/*'
            input.style = 'display:none'
            input.click()
            input.onchange = (event) => {
              let file = event.target.files[0]
              let onProgress = function (e) {
                // progress(e.loaded / e.total * 100);
                editor.notificationManager.open({
                  text: `Uploading ${e.loaded / e.total * 100}%`,
                  type: 'success'
                });
              };
              let formData = new FormData();
              formData.append('upload', file, file.name);
              upload('https://staging.rever.vn/photo/v2/upload/custom?ss=qimQtZ4DLc&width=1400&height=357', formData, function (code, data) {
                if (code) {
                  //success(`${BASE_URL}${data}`)
                  let src = `${BASE_URL}${data}`
                  let html = ''
                  html += '<img alt="' + (file.name || '') + '" src="' + src + '" />  '
                  //tinymce.get("custom-plugin").setContent(html);
                  editor.execCommand('mceInsertContent', false, html)
                } else {
                  console.log("error")
                }
                //console.log("onProgress", onProgress)
              }, onProgress)
            }
          }
        });
        editor.ui.registry.addButton('sign', {
          icon: 'permanent-pen',
          onAction: () => {
            refModal.showModal()
          }
        });
      });
      tinymce.init({
        selector: '#custom-plugin',
        height: 500,
        toolbar: 'image |  example sign',
        plugins: 'image imagetools autolink legacyoutput | example sign',
        imagetools_toolbar: 'rotateleft rotateright | flipv fliph | editimage imageoptions',
        content_style: ".mydiv {cursor: pointer;height: 20px;}",
      })

    }
  },
}
</script>

<style>

</style>