<template>
  <div>
      <textarea id="tiny-editor">
      </textarea>
  </div>
</template>

<script>
import tinymce from 'tinymce'

const BASE_URL = 'https://staging.rever.vn'
export default {
  name: "TinyMceComponent",
  props: {
    value: {
      type: String,
      default: () => ''
    }
  },
  data() {
    return {
      model: this.value
    }
  },
  created() {
    this.init()
  },
  mounted() {
    this.init()

  },
  methods: {
    upload(url, file, callback, processEvent) {
      var xhr = new XMLHttpRequest()
      xhr.withCredentials = false;
      xhr.open('POST', url, true)
      if (processEvent) {
        //xhr.upload.addEventListener('progress', processEvent, false)
        xhr.upload.onprogress = processEvent
      }
      // xhr.withCredentials = true;
      xhr.onload = function () {
        var data = null
        try {
          data = JSON.parse(xhr.responseText)
        } catch (ex) {
          data = xhr.responseText || {
            msg: 'Server error'
          }
        }
        if (xhr.status === 200) {
          if (typeof data === 'object') {
            callback(data.result, data)
          } else {
            callback(true, data)
          }
        } else {
          callback(false, data)
        }
      }
      xhr.addEventListener('error', function () {
        callback(false, {
          msg: 'Server error'
        })
      })
      xhr.send(file)
    },
    getContent() {
      return tinymce.get("tiny-editor").getContent()
    },
    setContent(content) {
      tinymce.get("tiny-editor").setContent(content)
    },
    init() {
      let upload = this.upload
      tinymce.PluginManager.add('example', function (editor) {
        editor.ui.registry.addButton('example', {
          icon: 'image',
          onAction: function () {
            /* Open window */
            let input = document.createElement('input')
            window.__ck_multiupload_inp = input
            document.body.appendChild(input)
            input.type = 'file'
            input.multiple = true
            input.accept = 'image/*'
            input.style = 'display:none'
            input.click()
            input.onchange = (event) => {
              let file = event.target.files[0]
              let onProgress = function (e) {
                // progress(e.loaded / e.total * 100);
                editor.notificationManager.open({
                  text: `Uploading ${e.loaded / e.total * 100}%`,
                  type: 'success'
                });
              };
              let formData = new FormData();
              formData.append('upload', file, file.name);
              upload('https://staging.rever.vn/photo/v2/upload/custom?ss=qimQtZ4DLc&width=1400&height=357', formData, function (code, data) {
                if (code) {
                  //success(`${BASE_URL}${data}`)
                  let src = `${BASE_URL}${data}`
                  let html = ''
                  html += '<img alt="' + (file.name || '') + '" src="' + src + '" />  '
                  //tinymce.get("textArea").setContent(html);
                  editor.execCommand('mceInsertContent', false, html)
                } else {
                  console.log("error")
                }
                //console.log("onProgress", onProgress)
              }, onProgress)
            }
          }
        });
      });
      tinymce.init({
        selector: '#tiny-editor',
        plugins: 'example sign',
        toolbar: 'example sign',
      });
    }
  },
}
</script>

<style scoped>

</style>