<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <TinyMceOne msg="Welcome to Your Vue.js App" ref="tinymce"/>
    <button @click="getContent">Submit</button>
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'
import TinyMceOne from './components/TinyMceOne.vue'
export default {
  name: 'App',
  components: {
    TinyMceOne
  },
  methods:{
    getContent() {
      console.log(this.$refs['tinymce'].getContent())
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>

